/* nav related styles */
.nav-styles{
    display: flex;
    justify-content: space-between;
    
}
.nav-items{
    display: flex;
    gap: 50px; 
}
.max-width{
    max-width: 1140px;
    margin: 30px auto;
}

ul li img{
    width: 24px;
    height: 24px;
}
 nav ul li{
    list-style: none;
    
}
a{
    text-decoration: none;
}
.li-color{
    color:#8987A1;
}
/* color-related-styles */
body{
    color: #1E1E1E;
}
.color-1{
    color: #E95A08;
}
.color-2{
  color: rgba(0, 0, 0, 0.5);}
.color-3{
    color: black;
}
.color-4{
    color: #FFFFFF;
    text-decoration: underline;
}

/* banner related styles */
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 434px;
}
.banner-styles{
    font-size: 4rem;
    font-weight: bold;
}
.banner-des{
    font-size: 1.375rem;
    font-weight: 400;
}

/* card-related-style */
.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* justify-content: space-between; */
    gap: 16px;
    margin-top: 50px;
}
.card-title{
    text-align: center;
    font-weight: 700;
    font-size: 3.125rem;
}
.card-des{
    text-align: center;
    font-size: 1.375rem;
    font-weight: 400;
    
}
.btn-primary{
    background-color: #E95A08;
    width: 100%;
    border: none;
    height: 50px;
    color: #FFFFFF;
}
.flower-name{
    text-align: center;
    font-size:1.375rem;
    font-weight: 500;
    color: black;
}
.price{

    font-size:1.375rem;
    font-weight: 400;
    color: black;
}
.align-center{
    text-align: center;
}

/* flower and plants related styles */
.flower-plants{
    display: flex; 
    align-items: center;
    gap: 50px;
    margin-top: 127px;
}
.flower-des{
    text-align: left;
}

.plants-photo{
    display: grid;
    grid-template-columns:1fr 1fr;
    gap: 28px; 
    margin-top: 100px; 
    position: rela;
    text-align: center; 
}
.coloumn-1{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
.img{
    position: relative;
}

.plants-photo img{
    object-fit: cover;
    border-radius: 15px;
    display: block;
    background-color:#C8C8C8; 
}
.sec-3{
    margin-top: 133px; 
}
.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 1.75rem;
    font-weight: bold;
    text-shadow: 3px 3px 6px black;
    }

    /* footer related styles */
    .input{
        background-color: rgba(7, 51, 79, 0.4);
        border: none;
        height: 400 px;
        padding: 199px;
    }
    .input-box{
        display: flex;
    }
footer  input[type="email"] {
    height: 4rem;
    background-color: white;
    display: block;
    width: 44.25rem;
    border: none;

}
footer input[type="submit"] {
    height: 4.125rem;
    width:12.5rem;
    padding: 10px 25px;
    display: block;
    margin-bottom: 24px;
    border: none;
    background-color: #E95A08;    
    color: #FFFFFF;

}
.input-title{
    color: #FFFFFF;

}

.footer-sec{
    display: flex;
    justify-content: space-between;
}
.social-logo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    align-items: center;
}